<h1>Add your own Review</h1>

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :rating, as: :integer %>
  <%= f.input :content, as: :text %>
  <%= f.submit 'Submit your review' %>
<% end %>
